@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-bg: #e2e3d3;
  --color-text: #120b0b;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: var(--font-poppins), sans-serif;
  font-size: 14px;
}

h1 {
  font-size: 42px;
}

h2 {
  font-size: 26px;
}

h3 {
  font-size: 18px;
}